project_id                       = "replace-with-your-gcp-project-id"
region                           = "us-east1"
artifact_repository              = "rentstage"
deploy_service_account_email     = "rentstage-deploy-github@replace-with-your-gcp-project-id.iam.gserviceaccount.com"
database_password                = "replace-with-24-to-64-alphanumeric-characters"
additional_authorized_domains    = []
